
/* ---------- Color Module Styles ----------- */

body,
#page-wrapper {
  background-color: #909dd0;
  color: #3b3b3b;
}
#main,
body.overlay {
  background-color: #ffffff;
  color: #3b3b3b;
}
#page { /* bg */
  background-color: #ffffff;
}
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background-color: #ffffff;
}
.tabs ul.secondary li a,
.tabs ul.primary li a {
  border-color: #b8b8b8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: #ffffff;
}
.tabs ul.secondary li a.active:hover,
.tabs ul.secondary li a:hover,
.tabs ul.primary li a.active:hover,
.tabs ul.primary li a:hover {
  background-color: #d2dcf3;
}
.tabs ul.secondary li a.active,
.tabs ul.primary li a.active {
}
.tabs ul.secondary li.active a,
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-color: #b8b8b8;
}
.tabs ul.secondary li {
  border-color: #b8b8b8;
}
#header {
  background-color: #384780;
  background-image: -webkit-gradient(linear, left top, right top, from(#384780), to(#7d8fc5));
  background-image: -moz-linear-gradient(0deg, #384780, #7d8fc5);
  border-color: #3e6993;
  /* for IE 5.5-7 */
  filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#384780, EndColorStr=#7d8fc5, GradientType=1);
  /* for IE 8 */
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#384780, endColorstr=#7d8fc5, GradientType=1)";
}
a.visited,
a {
  color: #335cd1;
}
a:hover,
a:focus {
  color: #1240d9;
}
a:active {
  color: #1240d9;
}
li a.active {
  /* important! */
  color: #3b3b3b;
}
.column-block,
.sidebar .block {
  background-color: #e1e8f5;
  border-color: #e1e8f5;
  color: #434343;
}
.column-block h2,
.sidebar h2 {
  border-bottom-color: #acb6cd;
  color: #434343;
}
.column-block a,
.sidebar a {
  color: #0f61a3;
}
.column-block table tr th,
.sidebar .block table tr th {
  border-color: #acb6cd;
  border-color: #e1e8f5;
  		border-color: #acb6cd;
}

.node {
  background-color: #fefefe;
  border-color: #dedede;
}
.node h2 { /* nodedividers */
  border-color: #dcdcdc;
}
.node-sticky {
  background-color: #e1e8f5;
}
.node .submitted {
  color: #777777;
}

#menubar,
#submenubar,
#navigation {
  border-bottom-color: #b8b8b8;
}
#navigation ul li {
  border-right-color: #b8b8b8;
  color: #3b3b3b;
}
#navigation ul li.last {
  border-right: none;
}
.highlight {
  background-color: #d2dcf3;
}
div.item-list ul.pager li a:hover,
#navigation ul li a:hover {
  background-color: #d2dcf3;
}
#page-title {
  background-color: #666666;
  color: #f1f1f1;
}
#content .block h2 { /* main content: block title */
  background-color: #666666;
  color: #f1f1f1;
}
#content .node h2 { /* main content: block title */
  background-color: transparent;
  color: #3b3b3b;
}
#content .node-sticky h2 { /* main content: block title */
  background-color: transparent;
}
#footer-wrapper {
  background-color: #303641;
  color: #cccccc;
}
#footer-wrapper a {
  color: #72a4fd;
}
#footer-wrapper .column-block {
  background-color: #303641;
  color: #cccccc;
}
#footer-wrapper .column-block h2 {
  border: none;
  color: #cccccc;
}
#footer-wrapper .column-block a {
  color: #72a4fd;
}
#footer {
  background-color: #303641;
  color: #cccccc;
}
#footer a {
  color: #72a4fd;
}
.region-header,
.region-header a,
.region-header li a.active,
#header #name-and-slogan,
#header #name-and-slogan a {
  color: #c9d8f3;
}

form fieldset {
  border: solid 1px #b8b8b8;
}

blockquote {
  border-color: #dcdcdc;
}

/*-------------- Additional for dark colors --------------*/
.filter-wrapper {
  background-color: #ffffff;
}

.comment {
  background-color: #fefefe;
  border-color: #dedede;
}
.comment h3 {
  border-color: #dcdcdc;
}
.comment-unpublished {
  background-color: #fefefe;
}
.comment .submitted {
  color: #777777;
}

table.views-view-grid tr {
  background-color: #ffffff;
}

td.views-field {
  background-color: #ffffff;
}

table tr th {
  background-color: #d3dbe4;
  border-right-color: #ffffff;
}
fieldset {
  border-color: #dcdcdc; /* nodedivider color */
}
tr.even,
tr.even td {
  background-color: #eaecff;
}
tr.odd,
tr.odd td {
  background-color: #fefefe;
}
tr.even td.active,
tr.odd td.active {
  background-image: url(/sites/all/themes/mayo/images/dark.png);
}
.profile .user-picture {
  background-color: #ffffff;
}
.column-block table tr td,
.sidebar .block table tr td {
  border-color: #acb6cd;
}
.column-block table tr.even td,
.column-block table tr.odd td,
.sidebar .block table tr.even td,
.sidebar .block table tr.odd td {
  /* sidebar table does not have regular table even/odd row background */
  background-color: #e1e8f5;
}

/*-------------- superfish color ---------------*/
.sf-menu li a {
  background-color: #ffffff;
  border-right-color: #b8b8b8;
}
.sf-menu li.last ul li a,
.sf-menu li ul li a,
.sf-menu li ul li.last a {
  /* all other child menu items */
  border-width: 0px;
}
.sf-menu li a.sfHover,
.sf-menu li a:hover {
  background-color: #d2dcf3;
}
.sf-menu a, .sf-menu a:active, .sf-menu a:visited, .sf-menu a:focus {
  color: #335cd1;
}
.sf-menu ul {
  /* add border around the child menu block */
  border-color: #b8b8b8;
}

/*-------------- nice_menus color ---------------*/
.nice-menu a, .nice-menu a:active, .nice-menu a:visited, .nice-menu a:focus {
  color: #335cd1;
}
ul.nice-menu li.menuparent a {
  /* root menu item that has drop down menu */
  background-color: #ffffff;
}
ul.nice-menu li a {
  /* root menu item that has no drop down menu */
  background-color: #ffffff;
  border-right-color: #b8b8b8;
}
ul.nice-menu li.menuparent a:hover,
ul.nice-menu li a:hover {
  /* root menu item hover color */
  background-color: #d2dcf3;
}
ul.nice-menu li.last ul li a,
ul.nice-menu li ul li a,
ul.nice-menu li ul li.last a {
  /* drop down menu items */
  border-color: #b8b8b8;
}
ul.nice-menu li ul li.menuparent {
  /* drop down menu items that has child menu */
  background-color: #ffffff;
}
ul.nice-menu li.menuparent li {
  /* drop down menu items that has no child menu */
  background: none;
  background-color: #ffffff;
}
ul.nice-menu li.menuparent li:hover {
  background: none;
  background-color: #d2dcf3;
}
ul.nice-menu li ul {
  border: solid 1px #b8b8b8;
}
